body{
    margin:0px;
    text-align:center;
    font-family: "Orbitron", sans-serif;
}
.heading{
    font-size:12px;
    text-align:center;
    background:url("image/background.jpg");
    height:350px;
    width:auto;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color:white;
    
}
.title{
    background-color: rgba(0, 102, 149, 0.382);
    padding:5px 10px 5px 10px;
    margin-bottom:10px;
}
.desc{
    background-color: rgba(0, 11, 60, 0.436);
    padding: 0px 10px 5px 0px;
    height:40px;
    padding:5px 10px 5px 10px;
    margin-top:0px;
}
.tour-img{
    height:150px;
    width:150px;
    border-radius:100%;
}
.tour{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:300px;
    height: auto;
    font-size:15px;
}
.container{
    display:flex;
    justify-content: space-evenly;
}
#pfp{
    width: 200px;
    padding-left:15px;
}
.info{
    background:rgb(102, 166, 180);
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom:5px solid rgb(82, 82, 135);
    width:600px;
    height:auto;
    font-size:13px;
    border-radius:5px;

}
.details{
    margin:15px;

}
.env{
    display:flex;
    justify-content: center;
    padding-top:30px;
    padding-bottom: 15px;
}
.main{
    background:#f6ffffc5;
}
.tour:hover{
    background: rgba(177, 217, 230, 0.877);
}